<nav>
  <h1>Oi,</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/portifolioAnaliseDeDados/logo.jpg" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h5>Eu sou Diogo Florêncio.</h5>
  <div id="bio">
    <p>Este portfólio contém algumas análises, realizadas para disciplina de análise de dados.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
